@font-face {
    font-family: JetBrains Mono;
    src: url("JetBrainsMono.woff2") format("woff2");
}

b,
strong {
    color: #fff;
}

a {
    color: #abff4b;
}

p {
    text-align: justify;
    margin: 5pt 0;
}

html {
    color: #ccc;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000a00;
}

body {
    width: 960px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#site-title {
    text-align: center;
}

#site-title > h1 {
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-links hr {
    width: 100%;
}

img,
video {
    display: block;
    margin: auto;
    max-width: 100%;
}

pre {
    overflow-x: auto;
    font-family: "JetBrains Mono", monospace;
    font-size: initial;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-size: initial;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    vertical-align: bottom;
}

#pfp {
    height: 100px;
}

#content {
    align-self: center;
    box-sizing: border-box;
    max-width: min(800px, 100vw);
}

.text-center {
    text-align: center;
}
